<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <!-- Bootstrap Imports -->
    <!-- Local -->
    <link href="bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/floatlabelpatternform.css" type="text/css" rel="stylesheet">

    <!-- Custom CSS -->

    
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>

            <div id="first" class="col-sm-4">
                <br><br><br>

                <!-- text popup from sockjs stuff -->
                <div id="third"></div>

                <br><br><br>

                <form role="form" onsubmit="">
                    <div id="second" class="form-group float-label-control label-bottom">
                        <label for="">Start Typing...</label>
                        <input type="text" autocomplete="off" class="form-control" placeholder="Start Typing...">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Script Imports (After page load) -->
    <!-- Local -->
    <script src="jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="javascripts/floatlabelpatternform.js"></script>

    <!-- SockJS -->
    <script src="//cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"></script>

    <script>
        var sockjs_url = '/echo';
        var sockjs = new SockJS(sockjs_url);
        $('#second input').focus();

        var div = $('#third');
        var inp = $('#second input');
        var form = $('#first form');

        var print = function(m, p) {
            p = (p === undefined) ? '' : JSON.stringify(p);
            div.append($("<code>").text(m + ' ' + p));
            div.append($("<br>"));
            div.scrollTop(div.scrollTop()+10000);
        };

        sockjs.onopen = function() {print('[*] open', sockjs.protocol);};
        sockjs.onmessage = function(e) {print('[.] message', e.data);};
        sockjs.onclose = function() {print('[*] close');};

        form.submit(function() {
            print('[ ] sending', inp.val());
            sockjs.send(inp.val());
            inp.val('');
            return false;
        });

    </script>

</body>
</html>